doctype html
html(class='no-js', lang='en')
  head
    include ./includes/head.jade
  body
    include ./includes/top-navigation.jade

    block content

    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/global.js')