extends layout

block content
  .row
    .large-24.column
      h1 #{title}
    .large-24.column
      a(href='#', data-reveal-id='addLocation', class='radius button tiny secondary right') Add Location
    .large-24.column
      #locationList
        table.table-full-width
          thead
            th Location Name
            th Website
            th Phone Number
            th Street Address 1
            th Street Address 2
            th City
            th State
            th Zip
            th Birthdate
            th Gender
            th Location
            th
          tbody

      div(id='addLocation', class='reveal-modal', data-reveal, aria-labelledby='Add Location', aria-hidden='true', role='dialog')
        h3 Add Location
        fieldset
          .row
            .large-24.column
              label(for='inputLocationName') Location Name
              input#inputLocationName(type='text', required)
            .large-24.column
              label(for='inputLocationStreetAddress1') Street Address 1
              input#inputLocationStreetAddress1(type='text', required)
            .large-24.column
              label(for='inputLocationStreetAddress2') Street Address 2
              input#inputLocationStreetAddress2(type='text', required)
            .large-24.column
              label(for='inputLocationEmail') Email
              input#inputLocationEmail(type='email', required)
            .large-7.column
              label(for='inputLocationBirthdate') Birthdate
              input#inputLocationBirthdate(type='date', required)
            .large-7.column
              label(for='inputLocationLocation') Location
              input#inputLocationLocation(type='text', required)
            .large-24.column
              button#btnAddLocation Add Location
        a(class='close-reveal-modal', aria-label='Close') &#215;
