extends layout

block content
  .row
    .large-24.column
      h1 Profile for #{result.username}
      dl.sub-nav
        dt Details:
        dd.active
          a(href='#') Food
        dd
          a(href='#') Activities
        dd
          a(href='#') Calendar
        dd
          a(href='#') Tasks
        dd
          a(href='#') Demerits
        dd
          a(href='#') Uniform